<div id="page">
    <header id="test">
        <app-header (onRegister)="onLoginOrRegister($event)" 
                   (onLogin)="onLoginOrRegister($event)">
        </app-header>
    </header>
    <main>

        <div [ngSwitch]="title">
                <app-register-form *ngSwitchCase="'register'"></app-register-form>
                <app-login-form *ngSwitchCase="'login'"></app-login-form>
                <app-home *ngSwitchDefault></app-home>
        </div>
       
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>