<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Products</title>
	
	<!-- The reason that the css link will work is because of the 
	app.use(express.static(__dirname)) definition in the server --> 
	<link rel="stylesheet" href="/site.css" />
	
</head>
<body>

	<h1>Products:</h1>

	<ul>

		<!-- Run some JavaScript inside the view: -->
		<% for(var i = 0; i < products.length; i++) { %>
			<li> <%= products[i] %>	</li>
		<% } %>
		
	</ul>

</body>
</html>