<mat-toolbar>

      <mat-toolbar-row>
            <span>
                    <a mat-raised-button routerLink="/account">My-Account</a>
                    <a mat-raised-button routerLink="/products" >Products</a>
                    <a mat-raised-button routerLink="/home">Home</a>
                    <a mat-raised-button routerLink="/cart" *ngIf="userInfo.fullName!='Guest'">My-Cart</a>   
            </span>
            <span class="spacer"></span>
            <span>hello {{userInfo.fullName}}</span>
            <span>
                    <img [src]="userInfo.userUrlAvatar"/>

              </span>
      </mat-toolbar-row>

</mat-toolbar>