<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>	    
</head>
<body>

	<!-- Use local variables such as any Model variable: -->
	<h1><%= pageTitle %></h1>
	
</body>
</html>