<h1>Account Page</h1>

<span>
    <a routerLink="/account/login" *ngIf="!isLogedIn.state" (click)="tabState='Login'">Login</a>
    <a routerLink="/account/register" *ngIf="!isLogedIn.state" (click)="tabState='Register'">Register</a>
    <a href="javascript:void(0)" *ngIf="isLogedIn.state" (click)="logOutUser()">Logout</a>
</span>



<div *ngIf="isLogedIn.state">
    <h2>User Name:</h2>
    <span>{{user.fullName}}</span>
    <span>
        <img [src]="user.userUrlAvatar" />

    </span>

</div>
<div *ngIf="!isLogedIn.state">
    <router-outlet></router-outlet>
</div>